
.custom-dropdown-menu-cs{
//  margin-left: 20px;
display: flex;
position: absolute;
justify-content: center;
flex-direction: column;
align-items: center;
width: 200px;
font-size:15px;
z-index: 1000;
}
.dropdown-divider {
    margin: 0.5rem 0; // Khoảng cách cho divider
  }