.container-member{
    display: flex;
    align-items: center;
}
.member-tong{
    position: relative;

    .rotate-45 {
        position: absolute;
        transform: rotate(130deg);
        bottom: -5px;
        left: 30px;
        background-color: #666666;
        border-radius: 50%;
        width: 23px;
        height: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            color: rgb(209, 209, 111);
        }
    }
   
}
.dotss{
    // border: 1px solid black;
    // background-color: aquamarine;
    width: 30px;
    .btn-dots{
        position: relative;
      
     
    }
    .btn-dooot{
        border: none;
        // background-color: white;
        &:hover{
            background-color: gainsboro;
        }
        &:active{
            background-color: gray;
        }
        i{
            font-size: 15px;
        }
    }
    .item-menu{
        position: absolute;
    }
    
}

// div:where(.swal2-container) div:where(.swal2-popup){
//     background-color:rgba(0, 0, 0, 0.5);
//     width: 15%;
//     padding: 5px;
//     // height: 40px;
//     height: auto;
//     align-items: center;
//     // border: 1px solid red;
// }
// .swal2-html-container.my-custom-html{
//     width: 100%;
//     height: 100%;
//     color: white;
//     font-size: 12px;
//     font-weight: 600;
//     // border: 1px solid red;
//     padding-top: 3px;
//     padding-bottom: 8px;
//     margin: 0;
  
//     // padding: 10px;
// }

