
.content-chat {
    flex-direction: column;
    position: relative;
    overflow-y: auto;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    background: linear-gradient(90deg, rgba(45,240,229,1) 48%, rgba(85,202,218,1) 63%, rgba(149,228,217,1) 98%);
    
}

.message {
    display: flex;
    width: 100%;
}

.message-right {
    justify-content: flex-end;
    width: 100%;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}
