
.content-chat {
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    // background: linear-gradient(90deg, rgba(45,240,229,1) 48%, rgba(85,202,218,1) 63%, rgba(149,228,217,1) 98%);
}
.message {
    display: flex;
    width: 100%;
}

.message-right {
    justify-content: flex-end;
    width: 100%;
}

.message-center {
    justify-content: center;
    width: 100%;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
.message-slide-in {
    animation: slideInFromBottom 0.5s ease-out;
}

.scroll-button {
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    border-radius: 50%;
    position: fixed;
    bottom: 160px;
    transform: translateX(-50%);
    &:hover {
        color: blue
    }
}

.float-date {
    position: fixed;    
}

.date-style {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 8px;
    font-size:10px;
    color: #fff;
    
}

.search-message {
    position: fixed;
    top: 12vh;
    z-index: 998;
    background-color: #fff;
    border-top: 2px solid #f0f0f0;
}

.search-result {
    position: fixed;
    z-index: 998;
    padding-top: 16px;
    min-height: 100px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;
}

.message.incoming .message-bubble {
    background-color: #0091FF;
    border-radius: 0 10px 10px 10px;
    bottom: -18px
  }
  
  .message-bubble {
    max-width: 100%;
    padding: 10px;
    position: relative;
  }
  
  .typing-dots {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
  }
  
  .typing-dots div {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    animation: typing 1s infinite;
  }
  
  .typing-dots div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing-dots div:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes typing {
    0%, 60%, 100% {
      transform: translateY(0);
      opacity: 0.3;
    }
    30% {
      transform: translateY(-6px);
      opacity: 1;
    }
  }



