.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    width: 72.2vw;
    
}
.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: none;
    border: 0.5px solid #fff;
    margin-bottom: 20px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    span {
        display: flex;
        text-align: center;
        justify-content: center;
        padding-right: 5px;
        color: aliceblue;
        // font-weight: bold;
        font-size: 25px;
    }
}


.header {
    display: flex;
    padding-left: 15px;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.navbar {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;

    p {
        font-size: 18px;
        font-weight: bold;
    }
}

.btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;

    button {
        background: none;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: gainsboro;
        }
    }
}

.message {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: flex-end;
    background: linear-gradient(90deg, rgba(238, 237, 174, 1) 52%, rgba(234, 233, 191, 1) 78%, rgba(191, 188, 127, 1) 98%);
    overflow-y: auto;
    // max-height: 70%;
    flex: 1;
    &::-webkit-scrollbar {
        width: 10px;
       
      }
      
    &::-webkit-scrollbar-thumb {
        background-color: gainsboro;
        border-radius: 6px;
      }
}

.content {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    overflow-y: auto;
    flex: 1;
    padding: 15px;

   
}

.footer {
    display: flex;
    min-height: 120px;
    flex-direction: column;
}
.options {
    display: flex;
    width: 100%;
    height: 60px;
    padding-left: 5px;
    border-bottom: 1px solid gainsboro;
    align-items: center;
    button {
        background: none;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        &:hover {
            background-color: gainsboro;
        }
        
    }
    label {
        background: none;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: gainsboro;
            cursor: pointer;
        }
        
    }
}

.text-input {
    display: flex;
    min-height: 50%;
    textarea {
        width: 80%;
        min-height: 100%;
        padding-left: 15px;
        padding-top: 15px;
        border: none;
        outline: none;
        overflow: hidden;
        resize: none;
    }
}



.message-text {
    // display: flex;
    width: 100%;
    min-height: 80px auto;
    padding: 10px;
    align-items: flex-start;
    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }
    div {
        display: flex;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        min-width: 150px auto;
        max-width: 450px;
        flex-wrap: wrap;
    }
}