.start {
    text-align: start;
}

.end {
    text-align: end;
}

.wrapper-boxchat {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-more {
    top: 10px;
    right: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: #cccccc;
    }
}

.fixed-number-msg {
    position: absolute;
    right: 30px;
}
.fixed {
    top: 10px;
    right: 10px;
    position: absolute;
}

.fixed-msg {
    position: absolute;
}

.wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.number-msg {
    top: 40px;
    left: 320px;

}