.tong{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
 
    align-items: center;
    font-size: 18px;
    height: 70px;
}

.center{
    max-height: 50%;
    // border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding: 10px;
    height: 100%;
    .txt-top{
        // padding: 15px;
        padding-top: 15px;
        padding-left: 15px;
           border: 1px solid black;
           display: flex;
           align-items: center;
    }
    .ketBan{
        // border: 1px solid black;
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .thongTin{
            // border: 1px solid black;
            min-width: 30%;
            height: 225px;
            padding: 10px;
            background-color: rgb(244, 244, 244);
            margin: 10px;
            border-radius: 5px;
             
            .top-cs{
                // border: 1px solid red;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .center-cs{
                    // border: 1px solid red;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    height: 60px;
                    margin-left: 5px;
                    span{
                        font-size: 13px;
                        color: rgb(94, 87, 87)
                    }
        
                }
                button{
                    margin-bottom: 30px;
                    border: none;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    // background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                }
            }
            .txt{
                padding-top: 5px;
                width: 100%;
                border: 0.5px solid gainsboro;
                border-radius: 5px;
                background-color: white;
                margin-top: 10px;
                textarea{
                    width: 100%;
                    border: none;
                    padding: 5px;
                    font-size: 15px;
                    outline: none;
        
                }
            }
        
            .btn-ft{
                // display: flex;
                padding-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    width: 45%;
                    border-radius: 5px;
                    height: 40px;
                }
                
            }
        
        }
      
    }
    
}


/// ContentListFriend

.listFriend-center{
    padding-left: 15px;
    max-width: 100%;
    flex-direction: column;
    background-color: rgb(238, 235, 235);
    height: 100%;
    .loc{
        // border: 1px solid black;
        max-width: 100%;
        height: 85vh;
        padding: 10px;
        background-color: white;
        .loc-top{
            max-width: 80%;
            // border: 1px solid black;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .search{
                max-width: 30%;
                height: 40px;
                border-radius: 8px;
                margin-top: -10px;
            }
            .menu1{
                max-width: 30%;
                height: 40px;
                border-radius: 8px;
                // border: 1px solid black;  
                .dropdown-menu1{
                    display: flex;
                    padding: 10px;
                    background-color: gainsboro;
                    justify-content: space-between;
                    align-items: center;
                    width: 250px;
                    border: none;
                    border-radius: 5px; 
                    height: 40px;
              
                }
                .list-item{
               
                    width: 250px;
                }
            }
            
            
        }
        .loc-center{
            max-width: 100%;
            // border: 1px solid black;
            height:490px ;
            overflow: auto;
            .loc-center-s{
                display: flex;
                justify-content: space-between;
                // border: 1px solid black;
                align-items: center;
                height: 80px;
                border-bottom: 0.5px solid gainsboro;
                
                .loc-center-item{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    h6{
                        margin-left: 15px;
                    }
                }
                button{
                    border: none;
                    background-color: white;
                    &:hover{
                        background-color: gainsboro;
                    }
                    &:active{
                        background-color: grey;
                    }
                }
            }
           
        }

       
    }
}

