.border-top-gray {
    border-top: 0.5px solid rgb(196, 192, 192);
}

.border-top-success {
    border-top: 1px solid rgb(81, 83, 227); /* Màu xanh cho khi active */
}
.btn-send{
    border-radius: 0;
    min-height: 122%;
}
.input-message {
    align-content: center;
    width: 100%; /* Giả sử muốn textarea chiếm toàn bộ chiều rộng */
    min-height: 100%;
    padding-left: 15px;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
}
.input-message::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn của trình duyệt Chrome, Safari, ... */
}

.emoji-picker{
    background: none;
    border: none; /* Thay đổi màu sắc và kích thước của border tại đây */
    border-radius: 4px; /* Tuỳ chỉnh việc bo tròn góc của border */
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    margin: 5px;
    margin-top: -40px;
    padding: 5px; /* Thêm padding để tạo khoảng cách xung quanh emoji */
    background-color: white;
    margin-bottom: 255px;
    max-height: 200px;
    max-width: 360px;
    overflow: auto;
    border-radius: 10px;
    button{
        border: none;
        background-color: white;
        &:hover{
            background-color: gainsboro;
            border-radius: 5px;
        }
        &:active{
            background-color: rgb(80, 76, 76);
            border-radius: 5px;
        }
    }
  
}
/* Tùy chỉnh thanh cuộn cho toàn bộ trang hoặc một phần tử cụ thể */
.emoji-picker::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn */
}

/* Đường ray của thanh cuộn (phần nền) */
.emoji-picker::-webkit-scrollbar-track {
    background: white; /* Màu nền của đường ray */
}

/* Tay cầm của thanh cuộn (phần có thể di chuyển) */
.emoji-picker::-webkit-scrollbar-thumb {
    background: gainsboro; /* Màu của tay cầm */
    height: 40px;
}

/* Khi hover vào tay cầm của thanh cuộn */
.emoji-picker::-webkit-scrollbar-thumb:hover {
    background: #b8b7b7; /* Màu của tay cầm khi được hover */
}

.custom-form{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-top: 16px;
    // border-radius: 0;
}
