.wrapper {
    display: flex;
    width: 100vw;
}
.conversations {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    width: 80%;
    button {
        background: none;
    }
}

.chat_rooms {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.search {
    display: flex;
    background-color: gray;
    input {
        border: none;
        background-color: gray;
        outline: none;
    }

}