.wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    div {
        display: flex;
        
    }
    overflow-x: hidden;
    
}
.wrapper1{
    display: flex;
    flex-direction: column;
    width: 351px;
    margin-left: 75px;
    border-right: 1px solid gainsboro;

}
.menu{
    display: flex;
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
}