.navbar-vertical {
    display: flex;
    height: 100vh; /* Chiều cao của navbar, có thể thay đổi tùy ý */
    background-color: #f8f9fa; /* Màu nền của navbar */
    // padding: 12px;
    flex-direction: column;
    // position: fixed;
    justify-content: space-between;
    
    position: relative;
    .navbar-backgroup-color{
      background-color: #0091FF;
  
    }
  }
  .navbar-vertical .navbar-nav {
    width: 100%; /* Chiều rộng của navbar-nav */
  }
  .navbar-vertical .nav-link {
    text-align: center; /* Canh giữa nội dung của nav-link */
  }
  .menu-setting {
    background-color: #f8f9fa;
    position: absolute;
    bottom: 200px;
    left: 25px;
    
  }


.avatar-dropdown {
  display: inline-block;
  text-decoration: none;
  border: 0.2px solid white;
  border-radius: 50%; /* Bo góc */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.avatar-dropdown:hover, .avatar-dropdown:focus {
  color: #0056b3; /* Màu chữ khi hover hoặc focus */
  background-color: #e9ecef; /* Màu nền khi hover hoặc focus */
  border-color: #e6dede; /* Màu viền khi hover hoặc focus */
  text-decoration: none; /* Loại bỏ gạch chân khi hover hoặc focus */
}

/* Bạn có thể thêm một số style khác cho phần tử con bên trong .avatar-dropdown nếu cần */
.avatar-dropdown i {
  margin-right: 5px; /* Khoảng cách giữa icon và chữ */
}

.custom-dropdown-menu {
    min-width: 300px; // Set chiều rộng tối thiểu cho menu
    margin-left: 58px;
    margin-top: -50px;
  
    .dropdown-item {
      // Tùy chỉnh cho mỗi item trong dropdown
      color: #333; // Đặt màu cho text
  
      &:hover {
        background-color: #f8f9fa; // Màu nền khi hover
      }
    }
  
    .dropdown-divider {
      margin: 0.5rem 0; // Khoảng cách cho divider
    }
    h6{
      padding: 5px;
      margin-left: 10px;
      border-bottom: 1px solid gainsboro;
    }
  }

////////////

/* Modal styles */
// Tùy chỉnh kích thước của modal
.modal-dialog {
  // Kích thước tùy chỉnh
  max-width: 400px; // Hoặc bất kỳ kích thước nào bạn muốn
  // max-height: 2555555px;
  border: none;
}
.modal-content{
  border: none;
  box-shadow: 0px 0px 10px rgba(223, 203, 203, 0.2);
  // height: 650px;
}
.btn-chan{
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 20px;
  padding: 10px;
  font-weight: 500;
  font-size: 12px;
  &:hover{
    background-color: gainsboro;
    color: #128be8;
  }
  &:active{
    background-color: rgb(182, 178, 178);
  }
}
.dropdown-item{
  &:active{
    background-color: gainsboro;
    
  }
}
.announce-message{
  position: absolute;
  top:5px;
  z-index:900;
  color: white;
  right: 14px;
  background-color: red;
  width: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
}
.announce-contact{
  position: absolute;
  top:70px;
  z-index:999;
  color: white;
  right: 14px;
  background-color: red;
  width: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
}