
.modal-header{
    display: flex;
    
    .btn-hearder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: white;
        border: none;
        i{
            font-size: 20px;
        }
        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    
        /* Hiệu ứng click */
        &:active {
            background-color: darkgray;
        }
    }
    .modal-title{
        // padding-left: 5px;
    }
    i{
        font-size: 25px;
      
    }
   
}

.change-password-modal {
    padding: 20px;
    min-height: 300px;
 
  }
  