.modal-body-cs{
    padding: 0;
}
.modal-content-cs {
    padding: 0;
}
.modal-header-cs{
    padding: 15px;
    height: 40px;
    .modal-title{
        font-size: 17px;
    }
}
.profile-modal {
    .profile-background {
      width: 100%;
      img {
        width: 100%;
        height: 150px;

      }
    }
  
    .profile-avatar {
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      margin-top: -30px;
  
      img {
        border: 3px solid white;
        width: 80px;
        height: 80px;
      }
      h5{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
      }
    }
  
    .user-info {
    //   margin-top: 20px;
    padding: 10px;
    }
  }

  .modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  