.mess-hover {
    display: flex;
    // border: 1px solid black;
    justify-content: space-around;
    flex-direction: column;
    // align-items: flex-end;
    width: auto;
    max-width: 50%;
    margin: 3px 10px 3px 10px;
    height: auto;
    // z-index: 999;

    .mess-text {
        display: flex;
        background-color: white;
        padding: 10px;
        flex-direction: column;
        // border: 1px solid rgb(8, 7, 7);
        width: auto;
        border-radius: 10px;
        min-width: 110px;
        // justify-content: flex-end;
        // align-items: flex-end;
        position: relative;
        height: auto;

        .text {

            // border: 1px solid gainsboro;
            // max-width: 100%;
            word-wrap: break-word;
            /* Đối với tương thích ngược */
            overflow-wrap: break-word;
            /* Thuộc tính tiêu chuẩn */
            max-width: 100%;

            pre {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
                    sans-serif;
                width: 100%;
                white-space: pre-wrap;
            }
        }

        span {
            // border: 1px solid gainsboro;
            font-size: 12px;
            color: rgb(154, 150, 150);
        }
    }


}

.btn-icon-custom {
    width: 25px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    position: absolute;
    border-radius: 50%;
    bottom: -20px;
    margin-right: -15px;
    right: 10px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    z-index: 999;
    padding: 0;
    font-size: 19px;
}

.btn-icon-custom-s {
    height: 26px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 35px;
    width: auto;
    border-radius: 14px;
    bottom: -10.5px;
    background-color: white;
    padding: 0px 5px 0px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    
}

.drop-message_text {
    position: absolute;
    right: 12px;
}

.dropd-menu{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 2px;
    margin-left: -140px;
    background-color: white;
    border: none;
    height: auto;
    width: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin-top: -55px;
    // border: 1px solid red;
    .btn-emoji {
        display: flex;
        
        flex-direction: row;
        align-items: center;
        justify-content: center;
        // border: 1px solid blue;
        border-radius: 30px;
        padding: 2px 5px 2px 5px;
        border: none;
        gap: 7px;
        .emoji-item {
            background-color: transparent;
            font-size: 22px;
            /* Đệm cho mỗi emoji */
            // border: 1px solid blue;
            padding: 0;
            cursor: pointer;
            transition: transform 0.3s ease;
            border-radius: 20px;

            &:hover {
                transform: scale(1.5);
            }
        }
    }

}


.mess-text-cs {
    display: flex;
    background-color: white;
    padding: 10px;
    flex-direction: column;
    border: 1px solid gainsboro;
    width: 200px;
    border-radius: 10px;

    .text-cs {
        font-size: 15px;
        color: rgb(153, 142, 142);

    }

    span {
        // border: 1px solid gainsboro;
        font-size: 12px;
        color: rgb(154, 150, 150);
    }
}