.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  // border : 1px solid black;

}

.top {
  display: flex;
  width: 100%;
  height: 10%;
  border-left: 1px solid #BCAAA4;
  border-bottom: 1px solid #BCAAA4;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  padding: 10px;
  font-size: 25px;
}

.text {
  font-size: 18px;
  white-space: nowrap;
  /* Ngăn chữ xuống dòng */
  width: 100%;
  height: auto;
  font-weight: 600;
  color: #263238;

}

.center {
  display: flex;
  background-color: #ECEFF1;
  border-left: 1px solid #BCAAA4;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll; // Điều này sẽ luôn hiển thị thanh cuộn dọc
  max-height: 100%; // Điều chỉnh chiều cao tối đa theo thiết kế của bạn
  position: relative;


  /* Thêm kiểu dáng để làm cho nó hình tròn */
  &::-webkit-scrollbar {
    width: 8px;
    /* Điều chỉnh kích thước chiều rộng của thanh cuộn */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Màu nền của thanh cuộn */
    border-radius: 8px;
    /* Làm cho thanh cuộn hình tròn */
    // height: 50px; /* Điều chỉnh chiều cao của thanh cuộn */
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Màu nền của vùng chứa thanh cuộn */
  }

  &:hover {
    overflow-y: scroll; // Hiển thị thanh cuộn khi hover
  }

}

.content1 {
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 280px;
  position: relative;
}

.content2 {
  display: flex;
  // border: 1px solid black;
  width: 100%;
  height: 300px;
  flex-direction: column;
  align-items: start;


  .text1 {
    // border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    color: #263238;
    margin-top: 20px;
    margin-left: 15px;

    button {
      // border: 1px solid black;
      margin-left: 20px;
    }
  }

  .items {
    display: flex;
    // border: 1px solid black;

    width: 100%;
    height: 100%;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 31%;
      height: 130px;
      background-color: white;
      // border: 1px solid black;
      border-radius: 5px;
      margin: 8px;
      .item1 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60%;
       margin-left: 15px;
      
        .img {
          width: 45px;
          height: 45px;
          border-radius: 50px;
          
        }
        .text2 {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
        }
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40%;
        width: 100%;
      
        button{
          width: 150px;
          height: 40px;
          border-radius: 5px;
          margin-bottom: 15px;
        }
      }


    }
  }
}