.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // border : 1px solid black;
   
}
.top{
    display: flex;
    width: 100%;
    height: 9%;
    border-left : 1px solid #BCAAA4;
    border-bottom : 1px solid #BCAAA4;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.icon {
    padding:10px;
    font-size: 25px;
}

.text {
    font-size: 18px;
    white-space: nowrap;
    /* Ngăn chữ xuống dòng */
    width: 100%;
    height: auto;
    font-weight: 600;
    color: #263238;

}
.center{
    display: flex;
    background-color: #ECEFF1;
    width: 97%;
    height: 100%;
    flex-direction: column;
    //  flex-grow: 1;
//   overflow: auto;
}
.text1{
    font-size: 16px;
    white-space: nowrap;
    /* Ngăn chữ xuống dòng */
    width: 100%;
    height: auto;
    font-weight: 600;
    color: #263238;
    margin-top: 20px;
    margin-left: 15px;
}
.content{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-top: 25px;
}
.top1{
  //  border : 1px solid black;
    display: flex;
    width: 80%;
    height: 7%;
    margin-top: 15px;
    margin-left: 15px;
    align-items: center;
    justify-content: space-between;
}
.search{
    border : 1px solid #CFD8DC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 7px;
    width: 37%;
    height: 80%;
    padding: 7px;
}
.input {
    border: none; /* Ẩn border của input */
    outline: none; /* Ẩn outline khi input được chọn */
    box-shadow: none; /* Ẩn box shadow khi input được chọn */
    width: 80%;
  }
.iconSearch{
    margin-right: 10px;
    border-color: #ECEFF1;
}
.locName{
    border : 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 7px;
    width: 30%;
    height: 80%;
    background-color: #CFD8DC;
    border: none;
    padding: 7px;
    
}
.iconLocName{
    margin-right: 10px;
    border-color: #ECEFF1;
}
.optionName{
    width: 89%;
    height: 80%;
    border: none; /* Ẩn border của input */
    outline: none; /* Ẩn outline khi input được chọn */
    box-shadow: none; /* Ẩn box shadow khi input được chọn */
    background-color: #CFD8DC;
    
}


  