@import '../../Variables.scss';

.wrapper-login {
    background-image: url("../../../public/assets/icons/background.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 10px;

}

.modal-custom {
    display: flex !important;
    align-items: center;
    justify-content: center;
    // backdrop-filter: blur(8px);
}