@import '../../Variables.scss';

.wrapper-login {
    background: $background-radiant;
    height: 100vh 
}

.content {
    background-color: aliceblue;
    flex-direction: column;
    border-radius: 10px;

}

.modal-custom {
    display: flex !important;
    align-items: center;
    justify-content: center;
    // backdrop-filter: blur(8px);
}