@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


::-webkit-scrollbar {
    width: 10px;
   
}
  /* Ẩn thanh cuộn */
::-webkit-scrollbar-thumb {
    background: transparent; /* làm cho thanh cuộn trong suốt */
    border-radius: 6px;
}
/* Hiển thị thanh cuộn khi hover */
:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* hoặc màu khác tùy chọn */

}
